.env
.DS_Store
site/
projects/
.log

# Ignore everything inside of the docs/docs folder
docs/docs/*

# But don't ignore these specific directories and file
!docs/docs/assets/
!docs/docs/docs/
!docs/docs/stylesheets/
!docs/docs/index.md